<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/javascript/script.js" defer></script>
    <title>Code The Dream - Dreaming of Dogs</title>
</head>
<body>
    <div class="container"><p>Hello!  Please use this to see the list of available breeds!</p><button type="button" class="button" id="fetch-breeds-btn">List Breeds</button></div>
    <div class="container" id="breed-container">This will be where the breeds are listed</div>

    <div class="container"><label for="breed-name-input">Breed Name</label><br><input type="text" id="breed-name-input" name="breed-name-input"><br><button type="button" class="button" id="fetch-facts-btn">Share the Facts</button></div>
    <div class="container" id="facts-container">This is where the facts will go</div>
</body>
</html>