<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/javascript/script.js" defer></script>
    <title>Code The Dream - Dreaming of Dogs</title>
</head>
<body>
    <div class="container"><b>List of Breeds</b><p>Please use this to see the list of breeds!</p><button type="button" class="button" id="fetch-breeds-btn">List Breeds</button></div>
    <div class="container" id="breed-container">This will be where the breeds are listed</div>

    <div class="container"><label for="breed-name-input"><b>Breed Name</b></label><p>Please refer to the list of available breeds above.  If you type in a partial breed it will pull the facts for the first matching breed</p><input type="text" id="breed-name-input" name="breed-name-input"><br><button type="button" class="button" id="fetch-facts-btn">Share the Facts</button><button type="button" class="button" id="fetch-image-btn">Share the Image</button></div>
    <div class="container" id="facts-image-container">This is where the facts or image will go</div>
</body>
</html>